{% extends 'base.html' %}

{% block title %}
Email Sent
{% endblock title %}

{% block content %}
    <h1>Check your inbox.</h1>
    <p>we have emailed the instructions successfuly.</p>
{% endblock content %}    